<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Dataset page">
  <meta name="author" content="Chaos Monkeys @ CMU">

  <title>ChaosMonkeys</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/public/common.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- Custom styles for this template -->
  <link href="/public/stylesheets/justified-nav.css" rel="stylesheet">

  <!-- To use the Font Awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Common CSS -->
  <link href="/public/stylesheets/common.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="container">
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Project Amazon</h3>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/experiments">Experiments</a></li>
            <li><a href="/tasks">Tasks</a></li>
            <li><a href="/datasets">Data Sets</a></li>
            <li class="active"><a href="/algorithms">Algorithms</a></li>
            <li><a href="/models">Models</a></li>
            <li><a href="/monitoring">Monitoring</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2 class="sub-header">Results</h2>
      <!-- Button trigger modal -->
      <div class="container">
        <!-- Button trigger modal -->
        <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">Upload</button></p>

        <!-- Upload Modal -->
        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa fa-server" aria-hidden="true" fa-3x></i>
                <h3 class="modal-title" id="myModalLabel">Upload New Algorithm</h3>
              </div>
              <div class="modal-body">
                <div class="uploadingpopup" id="uploading" style="display:none">

                  <div style="height: 400px;">

                  </div>

                </div>
                <!-- Show result indicating if the upload is successful -->
                <div class="alert alert-danger alert-dismissible" id="formUploadError" style="display: none;" role="alert">
                  <a class="close" onclick="$('#formUploadError').hide()">×</a>
                  <strong>Error!</strong>
                  <div id='formUploadErrorText'></div>
                </div>
                <div class="alert alert-success alert-dismissible" id="formUploadSuccess" style="display: none;" role="alert">
                  <a class="close" onclick="$('#formUploadSuccess').hide()">×</a>
                  <strong>Success!</strong>
                  <div id='formUploadSuccessText'></div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-1">

                    <h4>Choose Algorithm Task Type</h4>
                    <!-- in input label, using the name attribute to specify FormDataParam in jersey side-->
                    <form id="algorithmForm" enctype="multipart/form-data">
                      <div class="description" id="contents" style="display:block">
                        <div class="form-group">
                          <label for="algorithm name">Name</label>
                          <input type="text" class="form-control" name="name" id="name" />
                        </div>
                        <div class="form-group">
                          <label for="Language">Languages</label>
                          <br>
                          <select class="form-control" name="language" id="language">
                                                        <option>R</option>
                                                        <option>Python</option>
                                                    </select>
                          <a href="#" data-toggle="popover" title="Algorithms Structure" data-content="There are no instructions here......">Instructions?</a>
                          <script>
                            $(document).ready(function () {
                              $('[data-toggle="popover"]').popover();
                            });
                          </script>
                        </div>
                        <div class="form-group">
                          <label for="description">Description</label>
                          <textarea class="form-control" rows="5" name="description" id="description"> </textarea>
                        </div>
                        <div class="form-group">
                          <label for="file">Algorithm Files</label>
                          <input type="file" name="file" id="file" />
                        </div>
                        <div class="form-group">
                          <label for="user id">User ID</label>
                          <input type="text" class="form-control" name="user_id" id="user_id" />
                        </div>
                        <div>
                          <!--input type="submit" id="submitButton" class="btn btn-primary" value="Upload"-->
                          <button id="submitButton" type="button" class="btn btn-primary" onclick="submitForm()">Upload</button>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Create Task Modal -->
        <div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa fa-database" aria-hidden="true" fa-3x></i>
                <h4 class="modal-title" id="taskModalLabel">Create a task from algorithm</h4>
              </div>
              <div class="modal-body">
                <div class="uploadingpopup" id="uploading" style="display:none">

                  <div style="height: 400px;">

                  </div>

                </div>
                <div class="alert alert-danger alert-dismissible" id="formTaskError" style="display: none;" role="alert">
                  <a class="close" onclick="$('#formTaskError').hide()">×</a>
                  <strong>Error!</strong>
                  <div id='formTaskErrorText'></div>
                </div>
                <div class="alert alert-success alert-dismissible" id="formTaskSuccess" style="display: none;" role="alert">
                  <a class="close" onclick="$('#formTaskSuccess').hide()">×</a>
                  <strong>Success!</strong>
                  <div id='formTaskSuccessText'></div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-md-offset-1">
                    <!-- in input label, using the name attribute to specify FormDataParam in jersey side-->
                    <form id="dataForm" enctype="multipart/form-data">
                      <div class="description" id="contents" style="display:block">
                        <div class="form-group required">
                          <label for="TaskType" class="control-label">Task Type</label>
                          <input type="text" class="form-control" name="type" id="taskType" value="Training" disabled/>
                        </div>
                        <div class="form-group required">
                          <label for="data name" class="control-label">Task Name</label>
                          <input type="text" class="form-control" name="taskName" id="taskName" />
                        </div>
                        <div class="form-group required">
                          <label for="ProjectID" class="control-label">Project ID</label>
                          <input type="text" class="form-control" id="projectId" />
                        </div>

                        <div class="form-group">
                          <label for="description">Description</label>
                          <textarea class="form-control" rows="5" id="description"> </textarea>
                        </div>
                        <div class="form-group required">
                          <label for="DatasetsNames" class="control-label">Select Dataset</label>
                          <br>
                          <select class="form-control" id="taskDatasetName">
                          </select>
                        </div>
                        <div class="form-group required" id="algorithms">
                          <label for="AlgorithmsNames" class="control-label">Select Algorithm</label>
                          <br>
                          <input type="text" class="form-control" id="taskAlgorithmsNames" disabled/>
                        </div>
                      </div>
                    </form>
                    <div>
                      <button id="submitButton" class="btn btn-primary" onclick="submitTaskForm()">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Algorithms table -->
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody id='algorithmsTableBody'>
          </tbody>
        </table>
      </div>

      <!-- Details modal -->
      <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <i class="fa fa-lightbulb-o" aria-hidden="true" fa-3x></i>
              <h4 class="modal-title" id="myModalLabel">Algorithm Details</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6 col-md-offset-1">
                  <!--Popup content-->
                  <p>
                    <h4>Algorithm Name:</h4>
                    <span id='algorithmName'></span></p>
                  <p>
                    <h4>Algorithm Description:</h4>
                    <span id='algorithmDescription'></span>
                  </p>
                  <p>
                    <h4>Algorithm Language:</h4>
                    <span id='algorithmLanguage'></span>
                  </p>
                  <p>
                    <h4>Algorithm Path:</h4>
                    <span id='algorithmPath'></span>
                  </p>

                  <!-- Uncomment this block after the database table is filled -->
                  <!--p>
                    <h4>Algorithm Parent Project Name:</h4>
                    <span id='algorithmProject'></span>
                  </p-->

                  <p>
                    <h4>Associated Tasks:</h4>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tbody id='tasksTableBody'>
                        </tbody>
                      </table>
                    </div>
                  </p>

                  <!--Submit button-->
                  <div>
                    <button id="submitButton" class="btn btn-primary" onclick="alert('Submit')">Action</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    //All algorithm data
    var algorithmsData;

    //Selected algorithm id
    var selectedAlgorithmId;

    //Initialization
    $(document).ready(function () {
      //Reset upload modal 
      resetModal('uploadModal');

      //Reset task modal
      resetModal('createTaskModal');

      //Activate the popover in the upload modal
      $('[data-toggle="popover"]').popover();

      //Showing the loading text
      $('#algorithmsTableBody').text('Loading...');

      //Load upload types
      $.get("algorithms/list", function (data) {
        algorithmsData = data['algorithms'];
        var algorithmsList = '';
        for (i = 0; i < data['algorithms'].length; i++) {
          algorithmsList += '<tr><td><i class="fa fa-lightbulb-o" aria-hidden="true"></i>' + data['algorithms'][i]['name'] + '</td><td>' + data['algorithms'][i]['description'] + '<br><span class="label label-success">' + data['algorithms'][i]['language'] + '</span></td><td><button type="button" onclick="displayDetails(' + i + ')" class="btn btn-primary">Details</button></td><td><button type="button" onclick="createTaskFromAlgorithm(' + i + ')" class="btn btn-primary">Create Task</button></td></tr>';
        }
        $('#algorithmsTableBody').html(algorithmsList);
      });

      //fulfill #language select
      $.get("algorithms/languages", function (data) {
        var languages = '';
        for (i = 0; i < data['languages'].length; i++) {
          languages += '<option>' + data['languages'][i]['language'] + '</option>\n';
        }
        $('#language').html(languages);
      });

      //Load datasets names
      $.get("tasks/datasetsnames", function (data) {
        var datasetsnames = '';
        for (i = 0; i < data['datasetsnames'].length; i++) {
          datasetsnames += '<option value="' + data['datasetsnames'][i]['id'] + '">' + data['datasetsnames'][i]['name'] + '</option>\n';
        }
        $('#taskDatasetName').html(datasetsnames);
      });
    });

    //Handles the submit action
    function submitForm() {
      var success = $('#formUploadSuccess')[0];
      var successText = $('#formUploadSuccessText')[0];
      var form = new FormData($('form#algorithmForm')[0]);
      //Sending post request
      showUploadingSpinner();
      $.ajax({
        url: "http://127.0.0.1:8080/services/algr/upload",
        type: "POST",
        dataType: 'json',
        data: form,
        processData: false,
        contentType: false,
        success: function (data) {
          console.log("Submitted");
          console.log('Data: ' + data);
          //alert("Success!");
          showSubmissionResult("Success!", success, successText);
        },
        error: function (jqXHR, status, error) {
          if (jqXHR.responseJSON) {
            var resObject = jqXHR.responseJSON;
            displayAlertByType(resObject);
          } else {
            var alert = $('#formUploadError')[0];
            var alertText = $('#formUploadErrorText')[0];
            var networkErr = "Upload request failed, please check your network connection";
            showSubmissionResult(networkErr, alert, alertText);
          }
        },
        complete: function () {
          $("#uploading")[0].style.display = "none";
          $(".description").css('visibility', 'visible');
        }
      });

    }

    function showUploadingSpinner() {
      $(".description").css('visibility', 'hidden');
      document.getElementById("uploading").style.display = "block";
    };

    // response is object which contains code: int, msg: string, and success: boolean
    function displayAlertByType(response) {
      var errorCode = response.code;
      var errorMsg = response.msg;
      var alert = $('#formUploadError')[0];
      var alertText = $('#formUploadErrorText')[0];
      showSubmissionResult(errorMsg, alert, alertText);
    }

    //Show submission result after clicking Submit button
    function showSubmissionResult(message, alert, alertText) {
      alertText.innerText = message;
      alert.style.display = "block";
    }

    //Displays details for a selected algorithm
    function displayDetails(algorithmIndex) {
      $('#algorithmName').text(algorithmsData[algorithmIndex]['name']);
      $('#algorithmDescription').text(algorithmsData[algorithmIndex]['description']);
      $('#algorithmLanguage').text(algorithmsData[algorithmIndex]['language']);
      $('#algorithmPath').text(algorithmsData[algorithmIndex]['path']);

      //Load algorithms types
      $.get("tasks/listByAlgorithm/" + algorithmsData[algorithmIndex]['id'], function (data) {
        if (typeof data != "undefined") {
          var tasksList = '';
          for (i = 0; i < data['tasks'].length; i++) {
            tasksList += '<tr><td><i class="fa fa-server" aria-hidden="true"></i>' + data['tasks'][i]['name'] + '</td><td>' + data['tasks'][i]['description'] + '</td></tr>';
          }
          $('#tasksTableBody').html(tasksList);
        }
      });

      // Uncomment the following two lines after the table field is filled.
      //$('#datasetProject').text(algorithmsData[algorithmIndex]['project_name']);
      //$('#datasetTask').text(algorithmsData[algorithmIndex]['task_name']);

      $('#detailsModal').modal('show');
    }

    //Creates a task definition from an algorithm
    function createTaskFromAlgorithm(index) {
      selectedAlgorithmId = index;
      $('#taskAlgorithmsNames').val(algorithmsData[index]['name']);
      $('#createTaskModal').modal('show');
    }

    //Submit the task form
    function submitTaskForm() {
      var success = $('#formTaskSuccess')[0];
      var successText = $('#formTaskSuccessText')[0];
      var alert = $('#formTaskError')[0];
      var alertText = $('#formTaskErrorText')[0];
      var tasksInfoForTrain = {
        "project_id": $("#projectId").val(),
        "dataset_id": $("#taskDatasetName").val(),
        "algorithm_id": $("#taskAlgorithmsNames").val(),
        "model_id": null,
        "name": $("#taskName").val(),
        "description": $("#description").val(),
        "type": $("#taskType").val()
      }

      var objectToSend;
      var url;
      if (checkRequiredTaskFields()) {
        console.log(tasksInfoForTrain);
        objectToSend = tasksInfoForTrain;
        url = 'http://127.0.0.1:3000/tasks/createTrainingTask';
        $.ajax({
          url: url,
          type: "POST",
          dataType: "json",
          contentType: 'application/json',
          data: JSON.stringify(objectToSend),
          error: function (request, status, error) {
            console.log(status + error);
            showSubmissionResult("Oops! An error occurs when creating the task. Please check the error log in log path for possible reasons: " + status + error, alert, alertText);
          },
          success: function (data) {
            showSubmissionResult("Task: " + data.newtaskinfo.name + " has been created successfully!", success, successText);
          }
        });
      }
    }

    function checkRequiredTaskFields() {
      var taskName = $("#taskName").val();
      var projectId = $("#projectId").val();
      var selectedTaskType = $("#taskType").val();
      var selectedAlgorithmName = $("#taskAlgorithmsNames").val();
      var alert = $('#formTaskError')[0];
      var alertText = $('#formTaskErrorText')[0];
      //console.log(taskName);
      if (selectedTaskType.length == 0) {
        showSubmissionResult('Please select a task type.', alert, alertText);
        return false;
      }
      else if (taskName.length == 0) {
        showSubmissionResult('Please input a task name.', alert, alertText);
        return false;
      }
      else if (projectId.length == 0) {
        showSubmissionResult('Please input the Project ID.', alert, alertText);
        return false;
      }
      else if (selectedAlgorithmName.length == 0) {
        showSubmissionResult('Please select an algorithm.', alert, alertText);
        return false;
      }
      else {
        return true;
      }
    }

    //Hide dropdown list and the associated label
    function hideDropdown(dropdown) {
      dropdown.style.display = "none";
    }

    //Show dropdown list and the associated label
    function showDropdown(dropdown) {
      dropdown.style.display = "block";
    }
  </script>
</body>

</html>