<html>

<head>
  <title>ChaosMonkeysSkeleton</title>
  <style>
    table {
      border-collapse: collapse;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
  <h1>Connected services</h1>
  <h2>Coordination Service IP: 127.0.0.1:3000</h2>
  <div id="table">
    <table>
      <tr>
        <th>IP</th>
        <th>Type</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Last Contacted</th>
      </tr>
    </table>
  </div>
  <script>
    //Update view with table values
    setInterval(function () {
      $('table').find("tr:not(:first)").remove();
      $.getJSON('http://127.0.0.1:3000/table', function (data) {
        $.each(data['table'], function (i, item) {
          var tr = $('<tr>');
          tr.append('<td>' + item['ip'] + '</td>');
          tr.append('<td>' + item['type'] + '</td>');
          tr.append('<td>' + item['name'] + '</td>');
          tr.append('<td>' + item['description'] + '</td>');
          tr.append('<td>' + item['status'] + '</td>');
          tr.append('<td>' + item['lastcontacted'] + '</td>');
          tr.append('<td><button type="submit" onclick="Run(\'' + item['ip'] + '\')">Run</button></td>');
          tr.append('<td><button type="submit" onclick="Stop(\'' + item['ip'] + '\')">Stop</button></td>');
          tr.append('</tr>');
          $('table').append(tr);
        })
      })
    }, 3000);

    //Call change status to RUN
    function Run(ip) {
      var xhttp = new XMLHttpRequest();
      var url = "http://"+ip+"/services/changeState/RUN";
      console.log(url);
      xhttp.open("GET", url, false);
      xhttp.send();
      var response = JSON.parse(xhttp.responseText);
    }

    //Call change status to STOP
    function Stop(ip) {
      var xhttp = new XMLHttpRequest();
      var url = "http://"+ip+"/services/changeState/STOP";
      console.log(url);
      xhttp.open("GET", url, false);
      xhttp.send();
      var response = JSON.parse(xhttp.responseText);
    }
  </script>
</body>

</html>