<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Models page">
    <meta name="author" content="Chaos Monkeys @ CMU">

    <title>ChaosMonkeys</title>

    <!-- JQuery -->
    <script src="/public/lib/jquery.min.js"></script>

    <!-- Local scripts -->
    <script src="/public/scripts/common.js"></script>
    <script src="/public/scripts/models.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/public/stylesheets/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/public/lib/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/public/stylesheets/justified-nav.css" rel="stylesheet">

    <!-- To use the Font Awesome icons -->
    <link rel="stylesheet" href="/public/stylesheets/font-awesome.min.css">

    <!-- Common CSS -->
    <link href="/public/stylesheets/common.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="container">
            <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
            <div class="masthead">
                <h3 class="text-muted">Project Amazon</h3>
                <nav>
                    <ul class="nav nav-justified">
                        <li><a href="/experiments">Experiments</a></li>
                        <li><a href="/tasks">Tasks</a></li>
                        <li><a href="/datasets">Datasets</a></li>
                        <li><a href="/algorithms">Algorithms</a></li>
                        <li class="active"><a href="/models">Models</a></li>
                        <li><a href="/monitoring">Monitoring</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- Header title -->
            <h2 class="sub-header">Models</h2>

            <!-- Models table -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody id='modelsTableBody'>
                    </tbody>
                </table>
            </div>

            <!-- Details modal -->
            <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <h4 class="modal-title" id="detailsModalLabel">Model Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-1">
                                    <!--Popup content-->
                                    <p>
                                        <h4>Model Name:</h4>
                                        <span id='modelName'></span>
                                    </p>
                                    <p>
                                        <h4>Model Description:</h4>
                                        <span id='modelDescription'></span>
                                    </p>
                                    <p>
                                        <h4>Model Path:</h4>
                                        <span id='modelPath'></span>
                                    </p>

                                    <!-- Uncomment this block after the database table is filled -->
                                    <!--p>
                                        <h4>Dataset Parent Project Name:</h4>
                                        <span id='datasetProject'></span>
                                    </p-->

                                    <p>
                                        <h4>Associated Tasks:</h4>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <tbody id='tasksTableBody'>
                                                </tbody>
                                            </table>
                                        </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Create Task Modal -->
            <div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                            <h4 class="modal-title" id="taskModalLabel">Create a task</h4>
                        </div>
                        <div class="modal-body">
                            <div class="uploadingpopup" id="uploading" style="display:none">

                                <div style="height: 400px;">

                                </div>

                            </div>
                            <!-- Show result indicating if the task creation is successful -->
                            <div class="alert alert-danger alert-dismissible" id="formTaskError" style="display: none;" role="alert">
                                <a class="close" onclick="$('#formTaskError').hide()">×</a>
                                <strong>Error!</strong>
                                <div id='formTaskErrorText'></div>
                            </div>
                            <div class="alert alert-success alert-dismissible" id="formTaskSuccess" style="display: none;" role="alert">
                                <a class="close" onclick="$('#formTaskSuccess').hide()">×</a>
                                <strong>Success!</strong>
                                <div id='formTaskSuccessText'></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-1">
                                    <!-- in input label, using the name attribute to specify FormDataParam in jersey side-->
                                    <form id="dataForm" enctype="multipart/form-data">
                                        <div class="description" id="contents" style="display:block">
                                            <div class="form-group required">
                                                <label for="TaskType" class="control-label">Task Type</label>
                                                <br>
                                                <input type="text" class="form-control" name="taskType" id="taskType" value="Execution" disabled/>
                                            </div>
                                            <div class="form-group required">
                                                <label for="data name" class="control-label">Task Name</label>
                                                <input type="text" class="form-control" name="taskName" id="taskName" />
                                            </div>
                                            <div class="form-group required">
                                                <label for="ProjectID" class="control-label">Project ID</label>
                                                <input type="text" class="form-control" id="taskProjectId" />
                                            </div>

                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <textarea class="form-control" rows="5" id="taskDescription"> </textarea>
                                            </div>
                                            <div class="form-group required">
                                                <label for="DatasetsNames" class="control-label">Select Dataset</label>
                                                <br>
                                                <select class="form-control" id="taskDatasetsNames">
                                                </select>
                                            </div>

                                            <!-- Uncomment this div block if algorithms being added to the form. -->
                                            <!--div class="form-group required" id="algorithms">
                                                <label for="AlgorithmsNames" class="control-label">Select Algorithm</label>
                                                <br>
                                                <select class="form-control" id="algorithmNameInTaskModal">
                                                </select>
                                            </div-->

                                            <div class="form-group required" id="models">
                                                <label for="ModelsNames" class="control-label">Select Model</label>
                                                <input type="text" class="form-control" id="taskModel" disabled>
                                            </div>
                                        </div>
                                    </form>
                                    <div>
                                        <button id="submitTaskButton" class="btn btn-primary" onclick="submitTaskForm()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>