<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Monitoring page">
  <meta name="author" content="Chaos Monkeys @ CMU">

  <title>ChaosMonkeys</title>

  <!-- JQuery -->
  <script src="/public/lib/jquery.min.js"></script>

  <!-- Local scripts -->
  <script src="/public/scripts/common.js"></script>
  <script src="/public/scripts/monitoring.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="/public/stylesheets/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="/public/lib/bootstrap.min.js"></script>

  <!-- Custom styles for this template -->
  <link href="/public/stylesheets/justified-nav.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/public/stylesheets/monitoring-table.css" rel="stylesheet">

  <!-- To use the Font Awesome icons -->
  <link rel="stylesheet" href="/public/stylesheets/font-awesome.min.css">

</head>

<body>
  <header>
    <div class="container" style="
      margin-left: 0px;
      margin-right: 0px;
    ">
      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <div class="row">
          <div class="col-md-12 col-md-offset-1">
            <h3 class="text-muted">Project Amazon</h3>
            <nav>
              <ul class="nav nav-justified">
                <li><a href="/experiments">Experiments</a></li>
                <li><a href="/tasks">Tasks</a></li>
                <li><a href="/datasets">Datasets</a></li>
                <li><a href="/algorithms">Algorithms</a></li>
                <li><a href="/models">Models</a></li>
                <li class="active"><a href="/monitoring">Monitoring</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h2 class="sub-header">Connected services</h2>
      <h4 class="sub-header">Coordination Service IP: 127.0.0.1:3000</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <th>IP</th>
            <th>Type</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Last Contacted</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</body>

</html>