<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Tasks page">
    <meta name="author" content="Chaos Monkeys @ CMU">

    <title>ChaosMonkeys</title>

    <!-- JQuery -->
    <script src="/public/lib/jquery.min.js"></script>

    <!-- Local scripts -->
    <script src="/public/scripts/common.js"></script>
    <script src="/public/scripts/tasks.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="/public/stylesheets/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="/public/lib/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/public/stylesheets/justified-nav.css" rel="stylesheet">

    <!-- To use the Font Awesome icons -->
    <link rel="stylesheet" href="/public/stylesheets/font-awesome.min.css">

</head>

<body>
    <header>
        <div class="container">
            <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
            <div class="masthead">
                <h3 class="text-muted">Project Amazon</h3>
                <nav>
                    <ul class="nav nav-justified">
                        <li><a href="/experiments">Experiments</a></li>
                        <li class="active"><a href="/tasks">Tasks</a></li>
                        <li><a href="/datasets">Datasets</a></li>
                        <li><a href="/algorithms">Algorithms</a></li>
                        <li><a href="/models">Models</a></li>
                        <li><a href="/monitoring">Monitoring</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- Header title -->
            <h2 class="sub-header">Tasks</h2>

            <!-- Create task button -->
            <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTaskModal">Create task</button></p>

            <!-- Tasks table -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody id='tasksTableBody'>
                    </tbody>
                </table>
            </div>

            <!-- Create task modal -->
            <div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            
                            <h4 class="modal-title" id="myModalLabel">Create a task</h4>
                        </div>
                        <div class="modal-body">
                            <div class="uploadingpopup" id="uploading" style="display:none">

                                <div style="height: 400px;">

                                </div>

                            </div>
                            <div class="alert alert-danger alert-dismissible" id="formError" style="display: none;" role="alert">
                                <a class="close" onclick="$('#formError').hide()">×</a>
                                <strong>Error!</strong>
                                <div id='formErrorText'></div>
                            </div>
                            <div class="alert alert-success alert-dismissible" id="formSuccess" style="display: none;" role="alert">
                                <a class="close" onclick="$('#formSuccess').hide()">×</a>
                                <strong>Success!</strong>
                                <div id='formSuccessText'></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-1">
                                    <!-- in input label, using the name attribute to specify FormDataParam in jersey side-->
                                    <form id="dataForm" enctype="multipart/form-data">
                                        <div class="description" id="contents" style="display:block">
                                            <div class="form-group required">
                                                <label for="TaskType" class="control-label">Task Type</label>
                                                <br>
                                                <select class="form-control" id="type" onchange="showTaskType()">
                                                </select>
                                            </div>
                                            <div class="form-group required">
                                                <label for="data name" class="control-label">Task Name</label>
                                                <input type="text" class="form-control" name="name" id="name" />
                                            </div>
                                            <div class="form-group required">
                                                <label for="ProjectID" class="control-label">Project ID</label>
                                                <input type="text" class="form-control" id="projectId" />
                                            </div>

                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <textarea class="form-control" rows="5" id="description"> </textarea>
                                            </div>
                                            <div class="form-group required">
                                                <label for="DatasetsNames" class="control-label">Select Dataset</label>
                                                <br>
                                                <select class="form-control" id="datasetsNames">
                                                </select>
                                            </div>
                                            <div class="form-group required" id="algorithms">
                                                <label for="AlgorithmsNames" class="control-label">Select Algorithm</label>
                                                <br>
                                                <select class="form-control" id="algorithmsNames">
                                                </select>
                                            </div>
                                            <div class="form-group required" id="models" style="display:none">
                                                <label for="ModelsNames" class="control-label">Select Model</label>
                                                <br>
                                                <select class="form-control" id="modelsNames">
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <div>
                                        <button id="submitTaskButton" class="btn btn-primary" onclick="submitTaskForm()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Create a new experiment Modal -->
            <div class="modal fade" id="createNewExperimentModal" tabindex="-1" role="dialog" aria-labelledby="experimentModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            
                            <h4 class="modal-title" id="taskModalLabel">Create an experiment from task</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger alert-dismissible" id="formExperimentError" style="display: none;" role="alert">
                                <a class="close" onclick="$('#formExperimentError').hide()">×</a>
                                <strong>Error!</strong>
                                <div id='formExperimentErrorText'></div>
                            </div>
                            <div class="alert alert-success alert-dismissible" id="formExperimentSuccess" style="display: none;" role="alert">
                                <a class="close" onclick="$('#formExperimentSuccess').hide()">×</a>
                                <strong>Success!</strong>
                                <div id='formExperimentSuccessText'></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-1">
                                    <!-- in input label, using the name attribute to specify FormDataParam in jersey side-->
                                    <form id="dataForm" enctype="multipart/form-data">
                                        <div class="description" id="contents" style="display:block">
                                            <div class="form-group required">
                                                <label for="ExperimentName" class="control-label">Experiment Name</label>
                                                <input type="text" class="form-control" id="experimentName" />
                                            </div>
                                            <div class="form-group required">
                                                <label for="ExperimentProjectID" class="control-label">Project ID</label>
                                                <input type="text" class="form-control" id="experimentProjectId" />
                                            </div>
                                            <div class="form-group required">
                                                <label for="ExperimentTaskName" class="control-label">Task Name</label>
                                                <br>
                                                <input type="text" class="form-control" id="experimentTaskName" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="ExperimentDescription">Description</label>
                                                <textarea class="form-control" rows="5" id="experimentDescription"> </textarea>
                                            </div>
                                        </div>
                                    </form>
                                    <div>
                                        <button id="submitButton" class="btn btn-primary" onclick="submitExperimentForm()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Details modal -->
        <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Task Details</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger alert-dismissible" id="formError" style="display: none;" role="alert">
                            <a class="close" onclick="$('#formError').hide()">×</a>
                            <strong>Error!</strong>
                            <div id='formErrorText'></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <!--Popup content-->
                                <p>
                                    <h4>Task Name:</h4>
                                    <span id='taskName'></span></p>
                                <p>
                                    <h4>Task Type:</h4>
                                    <span id='taskType'></span>
                                </p>
                                <p>
                                    <h4>Task Description:</h4>
                                    <span id='taskDescription'></span>
                                </p>
                                <p>
                                    <h4>Task Parent Project Name:</h4>
                                    <span id='taskProject'></span>
                                </p>
                                <p>
                                    <h4>Task Algorithm Name:</h4>
                                    <span id='taskAlgorithm'></span>
                                </p>
                                <p>
                                    <h4>Task Dataset Name:</h4>
                                    <span id='taskDataset'></span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>