<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Task page">
    <meta name="author" content="Chaos Monkeys @ CMU">

    <title>ChaosMonkeys</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/common.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="/public/stylesheets/justified-nav.css" rel="stylesheet">

    <!-- To use the Font Awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <header>
        <div class="container">
            <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
            <div class="masthead">
                <h3 class="text-muted">Project Amazon</h3>
                <nav>
                    <ul class="nav nav-justified">
                        <li><a href="/experiments">Experiments</a></li>
                        <li class="active"><a href="/tasks">Tasks</a></li>
                        <li><a href="/datasets">Data Sets</a></li>
                        <li><a href="/algorithms">Algorithms</a></li>
                        <li><a href="/models">Models</a></li>
                        <li><a href="/monitoring">Monitoring</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <!-- Header title -->
            <h2 class="sub-header">Tasks</h2>

            <!-- Create task button -->
            <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTaskModal">Create task</button></p>
            <!-- Modal -->
            <div class="modal fade" id="createTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="fa fa-database" aria-hidden="true" fa-3x></i>
                            <h4 class="modal-title" id="myModalLabel">Create a task</h4>
                        </div>
                        <div class="modal-body">
                            <div class="uploadingpopup" id="uploading" style="display:none">

                                <div style="height: 400px;">

                                </div>

                            </div>
                            <div class="alert alert-danger alert-dismissible" id="formError" style="display: none;" role="alert">
                                <a class="close" onclick="$('#formError').hide()">×</a>
                                <strong>Error!</strong>
                                <div id='formErrorText'></div>
                            </div>
                            <div class="alert alert-success alert-dismissible" id="formSuccess" style="display: none;" role="alert">
                                <a class="close" onclick="$('#formSuccess').hide()">×</a>
                                <strong>Success!</strong>
                                <div id='formSuccessText'></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-1">
                                    <!-- in input label, using the name attribute to specify FormDataParam in jersey side-->
                                    <form id="dataForm" enctype="multipart/form-data">
                                        <div class="description" id="contents" style="display:block">
                                            <div class="form-group required">
                                                <label for="TaskType" class="control-label">Task Type</label>
                                                <br>
                                                <select class="form-control" id="type" onchange="showTaskType()">
                                                </select>
                                            </div>
                                            <div class="form-group required">
                                                <label for="data name" class="control-label">Task Name</label>
                                                <input type="text" class="form-control" name="name" id="name" />
                                            </div>
                                            <div class="form-group required">
                                                <label for="ProjectID" class="control-label">Project ID</label>
                                                <input type="text" class="form-control" id="projectId" />
                                            </div>

                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <textarea class="form-control" rows="5" id="description"> </textarea>
                                            </div>
                                            <div class="form-group required">
                                                <label for="DatasetsNames" class="control-label">Select Dataset</label>
                                                <br>
                                                <select class="form-control" id="datasetsNames">
                                                </select>
                                            </div>
                                            <div class="form-group required" id="algorithms">
                                                <label for="AlgorithmsNames" class="control-label">Select Algorithm</label>
                                                <br>
                                                <select class="form-control" id="algorithmsNames">
                                                </select>
                                            </div>
                                            <div class="form-group required" id="models" style="display:none">
                                                <label for="ModelsNames" class="control-label">Select Model</label>
                                                <br>
                                                <select class="form-control" id="modelsNames">
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <div>
                                        <button id="submitButton" class="btn btn-primary" onclick="submitForm()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tasks table -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody id='tasksTableBody'>
                    </tbody>
                </table>
            </div>

            <!-- Details modal -->
            <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="fa fa-database" aria-hidden="true" fa-3x></i>
                            <h4 class="modal-title" id="myModalLabel">Task Details</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger alert-dismissible" id="formError" style="display: none;" role="alert">
                                <a class="close" onclick="$('#formError').hide()">×</a>
                                <strong>Error!</strong>
                                <div id='formErrorText'></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-1">
                                    <!--Popup content-->
                                    <p>
                                        <h4>Task Name:</h4>
                                        <span id='taskName'></span></p>
                                    <p>
                                        <h4>Task Type:</h4>
                                        <span id='taskType'></span>
                                    </p>
                                    <p>
                                        <h4>Task Description:</h4>
                                        <span id='taskDescription'></span>
                                    </p>
                                    <p>
                                        <h4>Task Parent Project Name:</h4>
                                        <span id='taskProject'></span>
                                    </p>
                                    <p>
                                        <h4>Task Algorithm Name:</h4>
                                        <span id='taskAlgorithm'></span>
                                    </p>
                                    <p>
                                        <h4>Task Dataset Name:</h4>
                                        <span id='taskDataset'></span>
                                    </p>

                                    <!--Submit button-->
                                    <div>
                                        <button id="submitButton" class="btn btn-primary" onclick="alert('Submit')">Action</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        //All task data
        var tasksData;

        //Initialization
        $(document).ready(function () {
            //Reset a specific modal 
            resetModal('createTaskModal');
            //Showing the loading text
            $('#tasksTableBody').text('Loading...');
            //Load upload types
            $.get("tasks/list", function (data) {
                tasksData = data['tasks'];
                var tasksList = '';
                for (i = 0; i < data['tasks'].length; i++) {
                    tasksList += '<tr><td><i class="fa fa-database" aria-hidden="true"></i>' + data['tasks'][i]['name'] + '</td><td>' + data['tasks'][i]['description'] + '<br><span class="label label-success">' + data['tasks'][i]['project_name'] + '</span><span class="label label-success">' + data['tasks'][i]['dataset_name'] + '</span><span class="label label-success">' + data['tasks'][i]['algorithm_name'] + '</span><span class="label label-success">' + data['tasks'][i]['type'] + '</span></td><td><button type="button" onclick="displayDetails(' + i + ')" class="btn btn-primary">Details</button></td></tr>';
                }
                $('#tasksTableBody').html(tasksList);
            });
            //Load task types
            $.get("tasks/type", function (data) {
                var types = '';
                for (i = 0; i < data['types'].length; i++) {
                    types += '<option>' + data['types'][i]['type'] + '</option>\n';
                }
                $('#type').html(types);
            });

            //Load datasets names
            $.get("tasks/datasetsnames", function (data) {
                var datasetsnames = '';
                for (i = 0; i < data['datasetsnames'].length; i++) {
                    datasetsnames += '<option value="' + data['datasetsnames'][i]['id'] + '">' + data['datasetsnames'][i]['name'] + '</option>\n';
                }
                $('#datasetsNames').html(datasetsnames);
            });

            //Load algorithms names
            $.get("tasks/algorithmsnames", function (data) {
                var algorithmsnames = '';
                for (i = 0; i < data['algorithmsnames'].length; i++) {
                    algorithmsnames += '<option value="' + data['algorithmsnames'][i]['id'] + '">' + data['algorithmsnames'][i]['name'] + '</option>\n';
                }
                $('#algorithmsNames').html(algorithmsnames);
            });

            //Load models names
            $.get("tasks/modelsnames", function (data) {
                var modelsnames = '';
                for (i = 0; i < data['modelsnames'].length; i++) {
                    modelsnames += '<option value="' + data['modelsnames'][i]['id'] + '">' + data['modelsnames'][i]['name'] + '</option>\n';
                }
                $('#modelsNames').html(modelsnames);
            });
        });

        function showTaskType() {
            var e = $("#type")[0];
            var selectedValue = e.options[e.selectedIndex].text;
            var modelDropdown = $("#models")[0];
            var algorithmDropdown = $("#algorithms")[0];
            if (selectedValue.toLowerCase() == "training") {
                hideDropdown(modelDropdown);
                showDropdown(algorithmDropdown);
            }
            else if (selectedValue.toLowerCase() == "execution") {
                hideDropdown(algorithmDropdown);
                showDropdown(modelDropdown);
            }
        }
        //Hide dropdown list and the associated label
        function hideDropdown(dropdown) {
            dropdown.style.display = "none";
        }
        //Show dropdown list and the associated label
        function showDropdown(dropdown) {
            dropdown.style.display = "block";
        }
        //Submit the task form
        function submitForm() {
            var success = $('#formSuccess')[0];
            var successText = $('#formSuccessText')[0];
            var alert = $('#formError')[0];
            var alertText = $('#formErrorText')[0];
            var tasksInfoForTrain = {
                "project_id": $("#projectId").val(),
                "dataset_id": $("#datasetsNames").val(),
                "algorithm_id": $("#algorithmsNames").val(),
                "model_id": null,
                "name": $("#name").val(),
                "description": $("#description").val(),
                "type": $("#type")[0].options[$("#type")[0].selectedIndex].text
            }
            var tasksInfoForExe = {
                "project_id": $("#projectId").val(),
                "dataset_id": $("#datasetsNames").val(),
                "algorithm_id": null,
                "model_id": $("#modelsNames").val(),
                "name": $("#name").val(),
                "description": $("#description").val(),
                "type": $("#type")[0].options[$("#type")[0].selectedIndex].text
            }
            if (tasksInfoForTrain.type.toLowerCase() == "training" && checkRequiredFields()) {
                $.ajax({
                    url: "http://127.0.0.1:3000/tasks/createTrainingTask",
                    type: "POST",
                    dataType: "json",
                    contentType: 'application/json',
                    data: JSON.stringify(tasksInfoForTrain),
                    error: function (request, status, error) {
                        showSubmissionResult("Oops! An error occurs when creating the task. Please check the error log in log path for possible reasons: " + status + error, alert, alertText);
                    },
                    success: function (data) {
                        showSubmissionResult("Task: " + data.newtaskinfo.name + " has been created successfully!", success, successText);
                    }
                });
            }
            else if (tasksInfoForExe.type.toLowerCase() == "execution" && checkRequiredFields()) {
                $.ajax({
                    url: "http://127.0.0.1:3000/tasks/createExecutionTask",
                    type: "POST",
                    dataType: "json",
                    contentType: 'application/json',
                    data: JSON.stringify(tasksInfoForExe),
                    error: function (request, status, error) {
                        showSubmissionResult("Oops! An error occurs when creating the task. Please check the error log in log path for possible reasons: " + status + error, alert, alertText);
                    },
                    success: function (data) {
                        showSubmissionResult("Task: " + data.newtaskinfo.name + " has been created successfully!", success, successText);
                    }
                });

            }

        }

        function checkRequiredFields() {
            var t = $("#type")[0];
            var taskName = $("#name").val();
            var projectId = $("#projectId").val();
            var d = $("#datasetsNames")[0];
            var a = $("#algorithmsNames")[0];
            var m = $("#modelsNames")[0];
            var selectedTaskType = t.options[t.selectedIndex].text;
            var selectedDatasetName = d.options[d.selectedIndex].text;
            var selectedAlgorithmName = a.options[a.selectedIndex].text;
            var selectedModelName = m.options[m.selectedIndex].text;
            var alert = $('#formError')[0];
            var alertText = $('#formErrorText')[0];
            //console.log(taskName);
            if (selectedTaskType.length == 0) {
                showSubmissionResult('Please select a task type.', alert, alertText);
                return false;
            }
            else if (taskName.length == 0) {
                showSubmissionResult('Please input a task name.', alert, alertText);
                return false;
            }
            else if (projectId.length == 0) {
                showSubmissionResult('Please input the Project ID.', alert, alertText);
                return false;
            }
            else if (selectedDatasetName.length == 0) {
                showSubmissionResult('Please select a dataset.', alert, alertText);
                return false;
            }
            else if (selectedTaskType.toLowerCase() == "training" && selectedAlgorithmName.length == 0) {
                showSubmissionResult('Please select an algorithm.', alert, alertText);
                return false;
            }
            else if (selectedTaskType.toLowerCase() == "execution" && selectedModelName.length == 0) {
                showSubmissionResult('Please select a model.', alert, alertText);
                return false;
            }
            else
                return true;
        }

        //Show submission result after clicking Submit button
        function showSubmissionResult(message, alert, alertText) {
            alertText.innerText = message;
            alert.style.display = "block";
        }

        //Displays details for a selected task
        function displayDetails(taskIndex) {
            $('#taskName').text(tasksData[taskIndex]['name']);
            $('#taskDescription').text(tasksData[taskIndex]['description']);
            $('#taskType').text(tasksData[taskIndex]['type']);
            $('#taskProject').text(tasksData[taskIndex]['project_name']);
            $('#taskAlgorithm').text(tasksData[taskIndex]['algorithm_name']);
            $('#taskDataset').text(tasksData[taskIndex]['dataset_name']);
            $('#detailsModal').modal('show');;
        }
    </script>
</body>

</html>